@use "../abstracts/" as *;
#Horror {
    .container {
        .row {
            .column {
                height: 520px !important;
                width: 350px !important;
            }
        }
    }

    .box1 {
        @include bgImg();
       
    }

    .box2 {
        @include bgImg();
       
    }

    .box3 {
        @include bgImg();
        
    }

    .box4 {
        @include bgImg();
       
    }

    .bodyText {
        @include flexCenter(column);
        align-items: flex-start !important;
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0.445) !important;

        p {
            color: white;
        }

        span.priseUnit {
            color: $color1;
        }
    }
}