@use "../abstracts/" as *;

#Since {
    .container {
        .row {
            .column {
                height: 520px !important;
                width: 350px !important;
            }
        }
    }

    .box1 {
        @include bgImg();
        background-image: url("../imgs/ScienceFiction/Astronaut\ Floating\ in\ Space\ Science\ Fiction\ Book\ Cover.png   ") !important;
    }

    .box2 {
        @include bgImg();
        background-image: url("../imgs/ScienceFiction/Blue\ and\ White\ Cartoon\ Illustrative\ Novel\ Story\ Book\ Cover.png") !important;
    }

    .box3 {
        @include bgImg();
        background-image: url("../imgs/ScienceFiction/Purple\ and\ White\ Modern\ Journey\ Wattpad\ Book\ Cover.png") !important;
    }

    .box4 {
        @include bgImg();
        background-image: url("../imgs/ScienceFiction/Red\ and\ White\ Minimalist\ Warrior\ Book\ Wattpad\ Book\ Cover.png") !important;
    }

    .bodyText {
        @include flexCenter(column);
        align-items: flex-start !important;
        backdrop-filter: blur(5px);
        background-color: rgba(0, 0, 0, 0.445) !important;

        p {
            color: white;
        }

        span.priseUnit {
            color: $color1;
        }
    }
}